h1 {
    color: rgb(233, 61, 61);
}

p {
    color:rgb(200, 21, 200);
}

button {
    color: rgb(255, 255, 255);
    background-color: black;
}

body {
    background-color: rgb(65, 39, 39);
    /* The full combination of red and green becomes yellow,
     The full combination of red and blue becomes voilet (pinkish), 
     The full combination of blue and green becomes light blue, 
     And the full combination of all color becomes the white color. */
}

p1 {
    color: #ff0000;
    /* It "#" shows the HEX (Hexadecimal = 6+10) system. In HEx system the colcr starts fromm 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f so there are total 16 digit in Hexadecimal
    It is same as RGb. rgb (0-255) in each color and #(00-ff) in each color*/
    }